<?php
	
	if(isset($this->layout()->datossector))
		$datossector=$this->layout()->datossector;

	if(isset($this->layout()->datosnivel))
		$datosnivel=$this->layout()->datosnivel;
	
	
	$USUARIOID=$this->layout()->USUARIOID;
	$NIVELID=$this->layout()->NIVELID;
	$SECTORID=$this->layout()->SECTORID;
	$NOMBREAPELLIDO=$this->layout()->NOMBREAPELLIDO;
	$EMAIL=$this->layout()->EMAIL;
	$PASSWORD=$this->layout()->PASSWORD;
	$ESPRIVADO=$this->layout()->ESPRIVADO;
	$AVISARASIGNACION=$this->layout()->AVISARASIGNACION;
	$AVISARSOLICITUD=$this->layout()->AVISARSOLICITUD;

	
	
	
?>
<script type="text/javascript">


  	   var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
 
	   
		function valida_grabar()
  		{

						
				if(!$("#nivel").val())
				{
					alert("Debe Seleccionar el Nivel de Permisos");
					$("#nivel").focus();
					return false;
				}
				
				if(!$("#sector").val())
				{
					alert("Debe Seleccionar el Departamento");
					$("#sector").focus();
					return false;
				}
				
				if($("#nombreapellido").val().length<5)
				{
					alert("Debe Ingresar Correctamente Nombre y Apellido Usuario");
					$("#nombreapellido").focus();
					return false;
				} 
				
			
				if($("#email").val().length<5 || !$("#email").val().match(emailPattern))
				{
					alert("Debe Ingresar Correctamente un E-mail");
					$("#email").focus();
					return false;		
				} 
				
				if($("#clave").val().length<10)
				{
					alert("Debe Ingresar Correctamente Password de Usuario");
					$("#clave").focus();
					return false;
				} 
				
		
				if (!confirm("Desea Guardar los Datos del Usuario?")) 
				{
				
					return false;
				
				} else {
				
						grabar();
									
				}
		}					


		function grabar()
  		{

			var parametros = {
									"login" : $("#login").val(),
									"nivel" : $("#nivel").val(),
									"sector" : $("#sector").val(),
									"nombreapellido" : $("#nombreapellido").val(),
									"email" : $("#email").val(),
									"clave" : $("#clave").val(),
									"privado" : $("#privado").val(),
									"notiasig" : $("#notiasig").val(),
									"notisoli" : $("#notisoli").val(),
									"accion" : 'grabar'
							};
			
			
			$.ajax({
							data:  parametros,
							url:   '/Usuario/editarusuarioprocess', 
							type:  'post', 
							beforeSend: function () {
														$("#divNotificaciones").html("<div class='panel-body'><h4 class='alert alert-info' style='line-height:50px;'>Procesando solicitud...</h4></div>");
													},
	
							success:  function (response) { 
							
										var str=response;
										var res = str.split("|");
								
										if(res[0]=='OK')
										{
												$("#formulario").html("<div class='panel-body' id='volver_frame'><a href='/Usuario'><button type='button' id='volver_bot' class='btn btn-danger'>Volver</button></a><h4 class='alert alert-info' style='line-height:50px;'>Datos almacenados correctamente</h4></div>");
												$('#volver_bot').focus();
										}else{
											
												$("#formulario").html("<div class='panel-body' id='volver_frame'><a href='/Usuario'><button type='button' id='volver_bot' class='btn btn-danger'>Volver</button></a><h4 class='alert alert-info' style='line-height:50px;'>"+res[1]+"</h4></div>");
												$('#volver_bot').focus();
									
										}
									
							}
					});
	  
  		} 	


 

</script>


 <div class="col-md-12">
  			 <div class="row">
					 <div class="col-md-6 col-sm-6 col-xs-12">
				
				
							<div id="divNotificaciones">
							    <div class='panel-body'>
									<a href="/Usuario"><button type="button" class="btn btn-danger">Volver</button></a>
                           		</div>
						   </div>									 
							<div class="panel panel-primary">
				
								
									<div class="panel-heading">
                                       <strong>EDITAR USUARIO</strong>
                                    </div>
                                    <div class="panel-body">
				                            <form role="form" id="oForm" name="oForm">
                                                    <div class="form-group">
                                                        <label>Login Usuario</label>
                                                        <input id="login" name="login" class="form-control" maxlength="10" type="text" value="<?php echo $USUARIOID?>" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Nivel Permisos</label>
                                                        <select class="form-control" id="nivel" name="nivel">
															<?php
															if(isset($datosnivel))
															{
																foreach($datosnivel as $clave => $valor)
																{
																?>
																	<option value="<?php echo $valor["SIS02_NIVELID"]?>" <?php if($NIVELID==$valor["SIS02_NIVELID"]) echo "selected"?>><?php echo $valor["SIS02_NIVELDESCRIPCION"]?></option>
																<?
																}
															}		
															?>
														</select>
													</div>
                                                  
												    <div class="form-group">
                                                        <label>Departamento</label>
                                                        <select class="form-control" id="sector" name="sector">
															<?php
															if(isset($datossector))
															{
																foreach($datossector as $clave => $valor)
																{
																?>
																	<option value="<?php echo $valor["SIS01_SECTORID"]?>"  <?php if($SECTORID==$valor["SIS01_SECTORID"]) echo "selected"?>><?php echo $valor["SIS01_SECTORDESCRIPCION"]?></option>
																<?
																}
															}		
															?>
														</select>
													</div>
                                                  


												    <div class="form-group">
                                                        <label>Nombre / Apellido</label>
                                                        <input class="form-control" type="text" id="nombreapellido" maxlength="50"  value="<?php echo $NOMBREAPELLIDO?>" name="nombreapellido">
                                                    </div>
                                                    
													  <div class="form-group">
                                                        <label>E-mail</label>
                                                        <input class="form-control" type="text" id="email" maxlength="100"  name="email" value="<?php echo $EMAIL?>">
                                                    
													
													</div>
                                                    				
													<div class="form-group">
                                                        <label>Password</label>
                                                        <input class="form-control" type="password" maxlength="10" id="clave" name="clave" title="Aqu&iacute; debe re-ingresar la password de usuario con el cual ingresar&aacute; al sistema, m&iacute;nimo 8 caracteres" value="">
                                                        <p class="help-block">M&iacute;nimo 8 carateres <strong>(debe reingresar la password)</strong></p>
                                                    </div>
                                                    						
													
													
													<div class="form-group">
															<label>Es Usuario Privado</label>
															
															<select class="form-control" id="privado" name="privado">
																<option value="1" <?php if(intval($ESPRIVADO)==1){?>selected<?php }?>>SI</option>
																<option value="0" <?php if(intval($ESPRIVADO)==0){?>selected<?php }?>>NO</option>
															</select>
															
														
											        </div>
          											<div class="form-group">
															<label>Notificar Asignaci&oacute;n</label>
															<select class="form-control" id="notiasig" name="notiasig">
																<option value="1" <?php if(intval($AVISARASIGNACION)==1){?>selected<?php }?>>SI</option>
																<option value="0" <?php if(intval($AVISARASIGNACION)==0){?>selected<?php }?>>NO</option>
															</select>
												    </div>
          											
													
													<div class="form-group">
															<label>Notificar Solicitud</label>
												
															<select class="form-control" id="notisoli" name="notisoli">
																<option value="1" <?php if(intval($AVISARSOLICITUD)==1){?>selected<?php }?>>SI</option>
																<option value="0" <?php if(intval($AVISARSOLICITUD)==0){?>selected<?php }?>>NO</option>
															</select>
												    </div>
          														
													
													
													<button type="button" class="btn btn-info" id="btn_guardar" onclick="valida_grabar()">Guardar</button>
								             </form>
                                    </div>

							</div>
				
					 </div>
				 </div>

 </div>