<script type="text/javascript">
 
	   function accion_eliminar(loginusuario)
	   {

				if (!confirm("Desea Guardar los Datos del Usuario?")) 
				{
				
					return false;
				
				} else {
				
							var parametros = {
												"loginusuario" : loginusuario
											};
							
							$.ajax({
											data:  parametros,
											url:   '/Usuario/eliminarusuario', 
											type:  'post', 
											evalscripts : true,
											success:  function (response) { 
											
													$("#formulario").html("<div class='panel-body' id='volver_frame'><a href='/Usuario'><button type='button' id='volver_bot' class='btn btn-danger'>Volver</button></a><h4 class='alert alert-info' style='line-height:50px;'>"+response+"</h4></div>");
													$('#volver_bot').focus();
									
																
											}
									});
									
				}

 	   }	
 
 	   function carga_editar(loginusuario)
	   {

					var parametros = {
										"loginusuario" : loginusuario
									};
					
					$.ajax({
									data:  parametros,
									url:   '/Usuario/editarusuario', 
									type:  'post', 
									evalscripts : true,
									success:  function (response) { 
									
											$("#formulario").html(response);
														
									}
							});

		}	   



 	   function carga_pagina(pagina)
	   {

					var parametros = {
										"pagina" : pagina
									};
					
					$.ajax({
									data:  parametros,
									url:   '/Usuario/listarusuarios', 
									type:  'post', 
									evalscripts : true,
									success:  function (response) { 
									
											$("#formulario").html(response);
														
									}
							});

		}	


		//carga inicial
		carga_pagina('1');
</script>
<div id="formulario">
		
</div>						
