<?php
	
	if(isset($this->layout()->datosusuarios))
		$datosusuarios=$this->layout()->datosusuarios;
	
	if(isset($this->layout()->total_usuarios))
		$total_usuarios=$this->layout()->total_usuarios;
	
	if(isset($this->layout()->pagina))
		$pagina=$this->layout()->pagina;

	if(isset($this->layout()->num_paginas))
		$num_paginas=$this->layout()->num_paginas;

	if(isset($this->layout()->usuario_ini))
		$usuario_ini=$this->layout()->usuario_ini;

	if(isset($this->layout()->usuario_fin))
		$usuario_fin=$this->layout()->usuario_fin;
		
	
?>
<div class="col-md-12">
		   
		   <div id="divNotificacionesCentral">
		   </div>									 
							
		   
		   <div class="panel panel-info">
																	
						 <div class="row">
							 <div class="col-lg-12 col-md-12 col-sm-12">
						
								
										   <div class="table-responsive">
									
															<table class="table table-striped table-bordered table-hover">
																<thead>
																	<tr>
																		<th colspan="5">Usuarios del Sistema (<?php echo $total_usuarios?>)</th>
																	</tr>
																	<tr>
																		<th colspan="5">
																		<a href="/Usuario/agregarusuario/"><button class="btn btn-inverse"><i class="glyphicon glyphicon-plus"></i>Agregar</button></a>
																		</th>
																	</tr>
																	<tr>
																		<th>ID</th>
																		<th>NOMBRE</th>
																		<th>E-MAIL</th>
																		<th>NIVEL</th>
																		<th>OPCIONES</th>
																	</tr>
																</thead>
																<tbody>
																<?php
																		if(isset($datosusuarios))
																		{
																			foreach($datosusuarios as $clave => $valor)
																			{
																			?>
																				<tr>
																					<td><?php echo $valor["ED01_USUARIOID"]?></td>
																					<td><?php echo $valor["ED01_NOMBREAPELLIDO"]?></td>
																					<td><a href="mailto:<?php echo $valor["ED01_EMAIL"]?>"><?php echo $valor["ED01_EMAIL"]?></a></td>
																					<td><?php echo $valor["SIS02_NIVELID"]?></td>
																					<td>
																					  <button onclick="carga_editar('<?php echo $valor["ED01_USUARIOID"]?>')" id="btn_editar" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>Editar</button>
																					  <button onclick="accion_eliminar('<?php echo $valor["ED01_USUARIOID"]?>')" class="btn btn-danger"><i class="glyphicon glyphicon-home"></i>Eliminar</button>
																					</td>
																				</tr>
																			<?
																			}
																		}		
																?>
																</tbody>
														   </table>
												
															<ul class="pagination">
															  <?php
															  for($i=1;$i<=$num_paginas;$i++)
															  {
															  ?>	
															  <li <?php if(intval($pagina)==intval($i)){?>class="active"<?php }?>><a href="#" onclick="carga_pagina('<?php echo $i;?>')"><?php echo $i;?> <?php if(intval($pagina)==intval($i)){?><span class="sr-only">(current)</span><?php }?></a></li>
															  <?
															  }
															  ?>	
															</ul>
											   
											   </div>

								
							 </div>
						 </div>
		
				 </div>
	 </div>