<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-DESK / Ingreso</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<!-- JQUERY SCRIPTS -->
	<script src="/assets/js/jquery-1.10.2.js"></script>

	<script type="text/javascript">
 
 
	   function accion_logearse()
	   {
	
	
				if($("#login").val().length<5)
				{
					alert("Debes Ingresar Correctamente Login de Usuario");
					$("#login").focus();
					return false;
				} 
				
				
				if($("#clave").val().length<1)
				{
					alert("Debe Ingresar Correctamente Password de Usuario");
					$("#clave").focus();
					return false;
				} 
	
	
	
				var parametros = {
									"login" : $("#login").val(),
									"clave" : $("#clave").val()
								};
				
				$.ajax({
								data:  parametros,
								url:   '/Login/validarusuario', 
								type:  'post', 
								evalscripts : true,
								success:  function (response) { 
								
								
										var str=response;
										var res = str.split("|");
								
										if(res[0]=='OK')
										{
								
												var urlentrada = "/Fichacolegio";   
												$(location).attr('href',urlentrada);								
										
										}else{
												$("#divNotificacionesCentral").html("<div class='panel-body'><div class='alert alert-danger alert-dismissable'>"+res[1]+"</div></div>");
											}				
								}
						});
						
	

 	   }	
	</script>

</head>
<body style="background-color: #E2E2E2;">
    <div class="container">
        <div class="row text-center " style="padding-top:100px;">
            <div class="col-md-12">
                <img src="assets/img/logo_edesk.png" />
            </div>
        </div>
         <div class="row ">
               
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                           
						
						   
                            <div class="panel-body">
                                <form role="form">
                                    <hr />
                                    
									   
									<div id="divNotificacionesCentral">
									</div>
									<h5>Ingresa tus datos de acceso</h5>
                                       <br />
                                       <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                                            <input type="text" class="form-control" placeholder="Tu Login"  onFocus="$('#login').attr('placeholder','').placeholder()" id="login" name="login" maxlength="10"/>
                                        </div>
                                       <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" class="form-control"  placeholder="Tu Password" onFocus="$('#clave').attr('placeholder','').placeholder()" id="clave" name="clave" maxlength="10"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" /> Recu&eacute;rdame
                                            </label>
                                            <span class="pull-right">
                                                   <a href="/Login/recordarclave" >¿OLVIDASTE TU PASSWORD? </a> 
                                            </span>
                                        </div>
                                     	<a href="#" onClick="accion_logearse();" class="btn btn-primary ">Aceptar</a>
										<!--
										 <a href="/Login/validarusuario" class="btn btn-primary ">Aceptar</a>
                                    	-->
									</form>
                            </div>
                           
                        </div>
                
                
        </div>
    </div>

</body>
</html>