<?php
	 //recupera parÓmetros principales
	 $LABORATORIOID=$this->layout()->LABORATORIOID;
?>
			
			<script language="JavaScript" type="text/javascript">

					  function consulta_rut()
					  {
					
									var parametros = {
											"rut" : $("#rutalumno").val()
									};
							
									$.ajax({
													data:  parametros,
													url:   '/webservice/send_alumno.php', 
													type:  'post', 
													evalscripts : true,
													success:  function (response) { 
													
															
															$("#informacion_alumno").html(response);
																														
													
													}
											});
					 
					  } 


  					  function consulta_colegio(colegio)
					  {
					  
					  				if(colegio=="")
									{
										alert("Debes Ingresar el RBD del Colegio");
										$("#Colegio").focus();
										return false;
													
									}
							
									var parametros = {
											"Colegio" : colegio
									};
							
									$.ajax({
													data:  parametros,
													url:   '/Fichacolegio/mostrarficha', 
													type:  'post', 
													evalscripts : true,
													success:  function (response) { 
													
															
															$("#informacion_colegio").html(response);
																														
													
													}
											});
					 
					  } 


					<? if(trim($LABORATORIOID)!=""){?>
						consulta_colegio('<?=$LABORATORIOID?>');
					<?}?>

			</script>
			
			
			
			
			
			<div class="row">
                    <div class="col-md-12">
						   				<form name="frmBuscaRbd">
											<div class="panel panel-default">
												<div class="panel-heading">
													
													<div class="form-group row">
														<div class="col-md-2">
																<h4>FICHA COLEGIO</h4>
														</div>
														<div class="col-md-2">
															<input class="form-control" value="<?php echo $LABORATORIOID?>" name="Colegio" id="Colegio" type="text" />
														</div>
														<div class="col-md-1">
															<button type="button" class="btn btn-info" onclick='consulta_colegio($("#Colegio").val());$("#informacion_alumno").html("");$("#rutalumno").val("")'>Ver Colegio</button>
														</div>
													</div>
												
												</div>
											</div>
										</form>
		
								
							
					</div>
            </div>
              
		
	     
		    <div class="row" id="informacion_colegio">
               
						  
			</div>
			
			
			
			
			<div class="row">
			 
				   <div class="col-md-6 col-sm-6">
						  <div class="panel panel-info">
										<div class="panel-heading">
										   CONSULTA ALUMNO
										</div>
										<div class="panel-body">
												<form role="form">
															<div class="form-group">
																<label>Ingrese Rut:</label>
																<input class="form-control" name="rutalumno" id="rutalumno" type="text" size="10" value="">
															</div>
															<button type="button" class="btn btn-info" onclick="consulta_rut();">Consultar</button>
												</form>
										</div>
								</div>

				
					</div>

			</div>
			
			
			
			
			
	
			<div class="row" id="informacion_alumno">
			
			
			
			</div>
					 
	