<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>




								 <div class="panel panel-success">
									<div class="panel-heading">
											Informaci&oacute;n Colegio
									</div>
									<div class="panel-body" style="padding: 0px;">
										<div class="chat-widget-main">
												<table class="table table-hover">
													<tbody>
													
														<tr>
															<td><strong>RBD : </strong></td>
															<td><strong>NOMBRE COLEGIO : </strong></td>
														</tr>
														<tr>
															<td><?php echo $LABORATORIOID?></td>
															<td><?php echo $LABORATORIODESCRIPCION?></td>
														</tr>
														<tr>
															<td><strong>ESTADO : </strong></td>
															<td><strong>CURSOS : </strong></td>
													
														</tr>
														<tr>
															<td><?php echo $SIS03_ESTADO?></td>
															<td><?php echo $SIS03_CURSOS?></td>
														</tr>
														<tr>
															<td><strong>ASESOR : </strong></td>
															<td><strong>PRODUCTOS : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_ASESOR?></td>
															<td><?php echo $SIS03_PRODUCTOS?></td>
														</tr>
														<tr>
															<td><strong>TIENE EMAT LOCAL : </strong></td>
															<td><strong>INSTALADO EMAT LOCAL : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_CONEMATLOCAL?></td>
															<td><?php echo $SIS03_INTALADONEMATLOCAL?></td>
														</tr>
														<tr>
															<td><strong>TIPO CONTACTO 1 : </strong></td>
															<td><strong>NOMBRE CONTACTO 1 : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_TIPO_CONTACTO_1?></td>
															<td><?php echo $SIS03_NOMBRE_CONTACTO_1?></td>
														</tr>
														<tr>
															<td><strong>FONO CONTACTO 1: </strong></td>
															<td><strong>CELULAR CONTACTO 1 : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_FONO_CONTACTO_1?></td>
															<td><?php echo $SIS03_CELULAR_CONTACTO_1?></td>
														</tr>
													
														<tr>
															<td><strong>EMAIL CONTACTO 1 : </strong></td>
															<td></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_EMAIL_CONTACTO_1?></td>
															<td></td>
														</tr>
														<tr>
															<td><strong>TIPO CONTACTO 2 : </strong></td>
															<td><strong>NOMBRE CONTACTO 2 : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_TIPO_CONTACTO_2?></td>
															<td><?php echo $SIS03_NOMBRE_CONTACTO_2?></td>
														</tr>
														<tr>
															<td><strong>FONO CONTACTO 2: </strong></td>
															<td><strong>CELULAR CONTACTO 2 : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_FONO_CONTACTO_2?></td>
															<td><?php echo $SIS03_CELULAR_CONTACTO_2?></td>
														</tr>
														<tr>
															<td><strong>EMAIL CONTACTO 2 : </strong></td>
															<td></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_EMAIL_CONTACTO_2?></td>
															<td></td>
														</tr>
														<tr>
															<td><strong>NIVELES : </strong></td>
															<td><strong>ES DISTRIBUIDO : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_NIVELES?></td>
															<td><?php echo $SIS03_DISTRIBUIDO?></td>
														</tr>
														<tr>
															<td><strong>FECHA OPERATIVO : </strong></td>
															<td><strong>OTROS DISPOSITIVOS : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_FECHA_OPERATIVO?></td>
															<td><?php echo $SIS03_OTROS_DISPOSITIVOS?></td>
														</tr>
														<tr>
															<td><strong>NUM ALUMNOS : </strong></td>
															<td><strong>NUM LABORATORIOS : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_NUM_ALUMNOS?></td>
															<td><?php echo $SIS03_NUM_LABORATORIOS?></td>
														</tr>
														<tr>
															<td><strong>TIPO LABORATORIO : </strong></td>
															<td><strong>DISPOSITIVOS : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_TIPO_LABORATORIO?></td>
															<td><?php echo $SIS03_DISPOSITIVOS?></td>
														</tr>
														<tr>
															<td><strong>PROVEEDOR INTERNET : </strong></td>
															<td></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_PROVEEDOR_INTERNET?></td>
															<td></td>
														</tr>
														<tr>
															<td><strong>COMPUTADORES POR ALUMNO : </strong></td>
															<td><strong>PLATAFORMAS EN USO : </strong></td>
														</tr>
														<tr>
															<td><?php echo $SIS03_COMPU_X_ALUMNO?></td>
															<td><?php echo $SIS03_PLATAFORMAS_EN_USO?></td>
														</tr>
													</tbody>
												</table>
										</div>
									</div>
								</div>  
						


</body>
</html>
