	<li>
		<div class="user-img-div" id="info-usuario">


		</div>
	</li>

	<li>
		<a class="active-menu" href="/Fichacolegio/index/Colegio/33"><i class="fa fa-dashboard "></i>Ficha Colegio</a>
	</li>

	<li>
		<a href="#"><i class="fa fa-desktop "></i>Administrador<span class="fa arrow"></span></a>
		 <ul class="nav nav-second-level">
			<li>
				<a href="/Usuario"><i class="fa fa-toggle-on"></i>Usuarios</a>
			</li>
		</ul>
	</li>