<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-DESK / Recordar Clave</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<!-- JQUERY SCRIPTS -->
	<script src="/assets/js/jquery-1.10.2.js"></script>

</head>
<body style="background-color: #E2E2E2;">
    <div class="container">
        <div class="row text-center " style="padding-top:100px;">
            <div class="col-md-12">
                <img src="/assets/img/logo_edesk.png" />
            </div>
        </div>
         <div class="row ">
               
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                           
                            <div class="panel-body">
                                <form role="form">
                                    <hr />
                                    <h5>Ingresa tu e-mail registrado</h5>
                                       <br />
                                       <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"  ></i></span>
                                            <input type="password" class="form-control"  placeholder="Tu e-mail" />
                                        </div>
                                    	<a href="/Login/recordarclaveprocess" class="btn btn-primary ">Recuperar</a>
									    <hr />
										¿ Recuperaste tu clave ? <a href="/" >CLICK AQUI</a> 
									</form>
                            </div>
                           
                        </div>
                
                
        </div>
    </div>

</body>
</html>