<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-DESK</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
	
	
	
	
    <!-- GOOGLE FONTS-->
	<link href="/assets/css/open-sans.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/assets/css/custom.css" rel="stylesheet" />
	<!-- JQUERY SCRIPTS -->
	<script src="/assets/js/jquery-1.10.2.js"></script>
		
	<script language="JavaScript" type="text/javascript">
		
		function trae_menu()
		{
		
			var parametros = {};
	
			$.ajax({
						data:  parametros,
						url:   '/Login/menuperfil', 
						type:  'post', 
						success:  function (response) { 
					
								$("#main-menu").html(response);
								trae_datos_usuarios();	
						}
					});
		}
	
	
		function trae_datos_usuarios()
		{
		
				var parametros = {};
		
				$.ajax({
							data:  parametros,
							url:   '/Login/infousuario', 
							type:  'post', 
							success:  function (response) { 
						
									$("#info-usuario").html(response);
						
							}
						});
		
		}					
	
		trae_menu();
	
	</script>

</head>
<body>


    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">E-DESK</a>
            </div>

            <div class="header-right">

                <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
                <a href="/Login/logout" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

            </div>
        </nav>
        <!-- /. NAV TOP  -->



        <nav class="navbar-default navbar-side" role="navigation">

            <div class="sidebar-collapse">

						<ul class="nav" id="main-menu">
		
						
						</ul>


            </div>

        </nav>
        <!-- /. NAV SIDE  -->
       

		<div id="page-wrapper">
			   
			   
				<div id="page-inner">
					





					<?php echo $this->layout()->content; ?>    








				</div>
				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->









	     <div id="footer-sec">
        	&copy; 2019 Compumat.cl | Diseñado por : <a href="http://www.compumat.cl/" target="_blank">Compumat.cl</a>
    	</div>
		<!-- /. FOOTER  -->
		
		<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
		<!-- BOOTSTRAP SCRIPTS -->
		<script src="/assets/js/bootstrap.js"></script>
		<!-- METISMENU SCRIPTS -->
		<script src="/assets/js/jquery.metisMenu.js"></script>
		   <!-- CUSTOM SCRIPTS -->
		<script src="/assets/js/custom.js"></script> 

</body>
</html>